// Size
$full-width: 100%;
$rounded-full: 9999px;

// Colors
$white-color: white;
$bg-color-button-primary: rgb(37 99 235 / 1);
$bg-color-hover-button-primary: rgb(10, 79, 230);
$color-primary: rgb(255, 80, 109);
$color-primary-with-opacity: rgba(255, 80, 109, 0.76);
$color-second: rgb(248, 30, 66);
$color-third: rgb(255, 41, 77);


// Breakpoints
$breakpoint-lg: 1024px;
$breakpoint-sm: 640px;
$breakpoint-xs: 565px;
$breakpoint-xs-alternate: 555px;
$breakpoint-xss: 475px;
