@use '../../../style/scss/abstracts/variable';
@use '../../../style/scss/abstracts/mixin';

.wrapper-ingredient-detail {
    .breadcumb {
        div {
            &:first-child { font-weight: 600; cursor: pointer; }
            &:hover {
                opacity: 0.8;
            }
        }
        .currentpage {
            font-weight: 400;
            color: gray;
        }
    }
    .jumbroton-image-ingre {
        width: variable.$full-width;
        position: relative;
        
        img {
            width: variable.$full-width;
            height: 27rem;
            object-fit: cover;
            aspect-ratio: 16 / 9;
        }

        .bg-overlay {
            height: 27rem;
        }

        .title-ingredient {
            top: 50%;
            left: 50%;
            font-size: 4rem;
            position: absolute;
            text-align: center;
            color: white !important;
            transform: translate(-50%, -50%);
        }
    }

    .information-ingre {
        padding: 1rem 2rem 3rem 2rem;

        .highlight-info-ingre {
    
            gap: 10px;
            display: flex;
            justify-content: space-between;

            @media (max-width: variable.$breakpoint-xs-alternate) {
                gap: 1.5rem;
                flex-direction: column;
                justify-content: start !important;
            }
            
            .left-tag {
                gap: 10px;
                flex-wrap: wrap;
                overflow-x: auto;
                @include mixin.flex;
                justify-content: space-between;

                @media (max-width: variable.$breakpoint-xs-alternate) {
                    justify-content: start;
                }
    
                .tag-area-ingre {
                    gap: 6px;
                    @include mixin.flex; 
                    padding: 8px 14px;
                    border-radius: 9999px;
                    border: 1px solid rgb(197, 197, 197);
                    
                }
                .tag-category-ingre {
                    gap: 6px;
                    @include mixin.flex;
                    padding: 8px 14px;
                    border-radius: variable.$rounded-full;
                    border: 1px solid rgb(197, 197, 197);
                }
            }
            .right-tag {
                gap: 10px;
                @include mixin.flex;
                flex-wrap: wrap;
                overflow-x: auto;
                justify-content: space-between;

                @media (max-width: variable.$breakpoint-xs-alternate) {
                    justify-content: start;
                }

                .tag-youtube-ingre {
                    gap: 7px;
                    color: variable.$white-color;
                    cursor: pointer;
                    padding: 8px 14px;
                    @include mixin.flex;
                    border-radius: variable.$rounded-full;
                    background-color: rgb(0, 0, 0);

                    transition-property: all;
                    transition-duration: 15ms;
                    transition-timing-function: cubic-bezier();

                    &:hover {
                        background-color: rgb(43, 43, 43);
                    }
                }
                .tag-tags-ingre {
                    gap: 6px;
                    padding: 8px 14px;
                    @include mixin.flex;
                    border-radius: variable.$rounded-full;
                    border: 1px solid rgb(197, 197, 197);
                }
            }
        }

        .instruction-ingre {
            text-indent: 2rem;
            line-height: 1.75;
            margin-top: 2rem;
            text-align: justify;
        }

        .ingredients {
            font-size: 2rem;
            margin-top: 1.75rem;
            h4 {
                font-weight: 500;
                letter-spacing: 2px;
            }
            .list-ingre {
                margin-top: 1rem;
                > * {
                    margin-bottom: 1rem;
                }
                .item-ingre {
                    font-size: 1.15rem;
                    font-weight: 400;
                }
            }
        }
        
        .sourcre-ingre {
            margin-top: 6rem;

            @media (max-width: variable.$breakpoint-xss) {
                font-size: 3.5vw;
            }
        }
    }

}