@use '../../../style/scss/abstracts/variable';
@use '../../../style/scss/abstracts/mixin';
@use '../../../style/scss/abstracts/function' as *;

.title-ingredient-section {
    @include mixin.flex;
    justify-content: space-between;

    @media (max-width: variable.$breakpoint-xs) {
        flex-direction: column;
    }

    h1 {
        font-size: 1.75rem;
         font-weight: 500;
    }
    .search-meal {
        gap: 6px;
        cursor: pointer;
        position: relative;
        @include mixin.flex;

        @media (max-width: variable.$breakpoint-xs) {
            margin-top: 12px;
            width: variable.$full-width;
        }

        &:hover {
            opacity: 0.7;
        }

        .wrapper-svg {
            width: 2rem;
            height: 2rem;
            right: 12px;
            padding: 6px;
            position: absolute;
            border-radius: variable.$rounded-full;
            background-color: variable.$color-primary;

            &:hover {
                background-color: variable.$color-second;                
            }
        }

        input {
            margin: 8px 0;
            display: inline-block;
            box-sizing: border-box;
            border: 1px solid #ccc;
            width: variable.$full-width;
            padding: 14px 50px 14px 20px;
            border-radius: variable.$rounded-full;

        }
    }
}

.button-load-more {
    margin-top: 2rem;
    width: variable.$full-width;
}

.button-see-menu {
    margin-top: 1rem;
    line-height: 1.5;
    background-color: variable.$color-primary;

    &:hover {
        background-color: variable.$color-third;        
    }
}

.wrapper-list-ingre{
    gap: 1rem;
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: #{gridTemplateColumn(3)};
    
    @media (max-width: variable.$breakpoint-lg) {
        grid-template-columns: #{gridTemplateColumn(2)};
    }

    @media (max-width: variable.$breakpoint-xss) {
        grid-template-columns: #{gridTemplateColumn(1)};
    }

    .wrapper-box-ingre {
        .box-item-ingre {
            cursor: pointer;
            border-radius: 6px;
            position: relative;
            border: 1px solid rgba(209, 209, 209, 0.671);
            
            &:hover {
                .bg-overlay { display: block !important; }
                svg { display: block !important; }
            }

            svg {
                top: 40%;
                left: 55%;
                display: none;
                padding: 10px;
                stroke: white;
                position: absolute;
                border-radius: variable.$rounded-full;
                transform: translate(-100%, -100%);
                background-color: rgba(255, 80, 109, 0.76);
            }

            .bg-overlay {
                display: none;
            }

            .ingre-detail {
                padding: 0 1rem 1rem 1rem;
                h2 {
                    font-weight: 600;
                    line-height: 1.5;
                    color: rgb(255, 80, 109);
                }
                h4 {
                    font-weight: 400;
                    color: rgb(139, 139, 139);
                }
            }
            .image-ingre {
                width: variable.$full-width;
                height: 16rem;
                object-fit: cover;
                aspect-ratio: 16 / 9;
            }
        }
    }
}